<html ng-app='scanner'>
	<head>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	
	<body>
		<div ng-controller="libraryController">
		
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newbookModal">New book</button>
			
			<div class="modal fade" id="newbookModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<div class="col col-xs-6 col-xs-offset-3">
								<form name="newbookform">
									<input type="text" class="form-control" ng-required ng-maxlength="20" ng-minlength="5" placeholder="Enter book name" ng-model="newbookName"></text>							
									<label for="category"></label>
									<select class="form-control" name="category" ng-required ng-options="category as category.description.name for category in library" ng-model="newbookCategory">
										<option></option>
									</select>
								</form>
							</div>
						</div>
						<div class="modal-body">
							<div class="scan-panel">
								<button class="btn btn-success col col-xs-4 col-xs-offset-4" ng-click="scan()" ng-disabled="newbookform.$invalid">Scan</button>
								<div>
									<img ng-src="{{currentScan}}" class="curr-scan" ng-hide="firstScan">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="finishBook()">Finish</button>
						</div>
					</div>
				</div>
			</div>
			<div ng-repeat="category in library">
				<div class="category">
					<h3>{{category.description.name}}</h3>
				</div>
				<div ng-repeat="book in category.books">
					<div class="book">
						<h4>{{book.name}}</h4>
					</div>
				</div>
			</div>	
		</div>
		<script src="angular/angular.min.js"></script>
		<script src="jquery/jquery-3.1.1.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="js/scanner.js"></script>
	</body>
</html>
